
# Created by https://www.gitignore.io/api/visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

###  npm install bootstrap@4.0.0-beta font-awesome jquery popper.js --save
###  npm install gulp gulp-sass browser-sync --save-dev
###  npm install -g gulp-cli
node_modules/

# End of https://www.gitignore.io/api/visualstudiocode
