$primary: #329286;
$primary-overlay: rgba(50, 146, 166, 0.9);

body {
    margin-top: 105px;
}

.navbar {
    box-shadow: 1px 1px 8px $primary;
    opacity: 0.8;
    background: #fff;

    .nav-item {
        font-size: 1.4rem;
        padding-right: 20px;
    }
}

#showcase {
    position: relative;
    background: url('../img/mountains.jpg');
    min-height: 600px;
}